body{

    margin: 0px;
}
.header_banner{
    background-color: red;
    width: 100%;
    height: 200px;
}
.content{
    background-color: green;
    width: 100%;
    height: 600px;

}
.footer{
    background-color: blue;
    width: 100%;
    height: 300px;
}