/*使用某个字体之前必须提前引入*/
@font-face {
    font-family: 'BebasNeue-webfont';
    src:url("../Fonts/BebasNeue-webfont.ttf");
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: url("../images/pattern.gif");
    font-family: BebasNeue-webfont;
}

a{
    /*去掉下划线*/
    text-decoration: none;
    color: white;
}

#header{
    background-color:red;
    height: 3px;
}
#nav{
    text-align: center;
    width: 100%;
    position: fixed;
    top:0;
    background-color: rgba(0,0,0,0.5);

}
#nav ul{

}
#nav ul li{
    display: inline-block;

}
#nav ul li a{
    display: inline-block;
    width:200px;
    height: 50px;
    line-height:50px;
    font-size: 35px;
    margin: 0 8px;

}
#nav ul li a.selected,#nav ul li a:hover{

    background-color: rgba(255,255,255,0.5);
    color: black;
}
#tabView{
    margin-top:100px;
    background-color: white;
    text-align: center;
}
#tabView .dogItem{
    text-align: left;
    width: 381px;
    display: inline-block;
    margin: 8px 8px;
}
#tabView .dogItem img{
    margin: 2px;
}
#tabView .dogItem p{
    padding: 2px;
}
#tabView .dogItem a{
    margin: 4px;
}
#tabView .dogItem a{
    background-color: orangered;
    display: inline-block;
    width:120px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
}
#footer{
    text-align: center;
}
#footer h2{
    color: white;
    margin: 5px 0px;
}
#footer ul{
    margin-bottom: 10px;
}
#footer ul li{
    display: inline-block;
}
#footer ul li img:hover{
    opacity: 0.7;
}

/*自适应布局*/
@media screen and (max-width: 1095px){
    #nav ul li a{
        width: 150px;
    }
}
@media screen  and (max-width:860px) {
    #nav ul li a{
        width: 100px;
        font-size: 25px;
    }
    #tabView {
        margin-top: 50px;
    }
    #tabView .dogItem{
        width: 300px;
    }
    #tabView .dogItem img{
        width: 300px;
        margin: 0px 10px;
    }
}
@media screen and (max-width: 660px){
    #nav ul li a {
        width: 60px;
        font-size: 15px;
    }
    #tabView{
        margin-top: 20px;
    }
    #tabView .dogItem{
        width: 360px;
    }
}